[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AnthropMMD"]
	path = AnthropMMD
	url = https://gitlab.com/f-santos/anthropmmd
[submodule "KappaGUI"]
	path = KappaGUI
	url = https://github.com/cran/KappaGUI
[submodule "PELVIS"]
	path = PELVIS
	url = https://gitlab.com/f-santos/pelvis
